
nav{
    overflow-x:hidden;
    margin: 0px;
    background-color: rgb(208, 183, 121);
    
}
nav a{
   color: black;
    font-size: 20px;
    text-decoration: none;
    margin: 25px;
    top:0;
    padding: 0px; 
}
nav img{
    border-radius: 50%;
    width: 50px;
    height:60 px;
}
 img{width: 100%;

}/*[class^='grid-item'] {
    outline: 3px dashed #f90;
    font-size: 30px;
    color: #333;
    justify-content: center;
    align-items: center;
    }
/*.text{
    width: 60px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: justify;
    color: black;
   
}
.text-items div{
    box-shadow: 2px, 3px 12px 10px blue;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 20px;
    border-radius: 15px;
    padding-top: 20px;
    height: 200px;
    padding-left: 30px;*/
/* } */
.container{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.sub-container{
    
    
    
}
.container-q img{width: 50%;
    height: 40%;

}




.telnphone{}


.icon{
    row-gap: 30px;
    justify-items: center;
    
}




.formaction{
    margin: 15px;
    padding: 40px;
    font-size:medium;
    width: 90%px;
}